{% extends 'base.html' %}

{% block head_title %}Checkout{% endblock %}

{% block content %}
<section class="container mb-5 pb-5 pt-5">
    <h3 class="font-weight-bold dark-grey-text mb-5">Checkout form</h3>
    <div class="row dark-grey-text">

      <div class="col-md-8 mb-4">
        <div class="card">
          <form class="card-body"method='post' enctype='multipart/form-data'>
            {% csrf_token %}
  
            <div class="">
              <h4>Shipping address</h4>
              <div class="hideable_shipping">
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                  <label for="shipping_address" class="active">Address</label>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="shipping_address">Country</label>
                    <select class="custom-select d-block w-100" id="id_shipping_address" name="country_shipping">
                      <option value="">Choose...</option>
                      {% for value, name in form.country_shipping.field.choices %}
                        <option value="{{ value }}"{% if form.fields.country.value == value %} selected{% endif %}>{{ name }}</option>
                      {% endfor %}
                    </select>
                  </div>
    
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip</label>
                    <input type="text" class="form-control" id="zip" name="shipping_zip" placeholder="Zip code">
                  </div>
                </div>
    
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="billing_same_as_shipping" name="billing_same_as_shipping">
                  <label class="custom-control-label" for="billing_same_as_shipping">Billing address is the same as my shipping address</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="set_default_shipping" name="set_default_shipping">
                  <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                </div>

              </div>
              {% if address.default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="use_default_shipping" name="use_default_shipping">
                <label class="custom-control-label" for="use_default_shipping">
                  Use default shipping address: <span class="grey-text">{{ address.shipping_address|truncatechars:10 }}</span>
                </label>
              </div>
              {% endif %}

              <hr>

              <h4>Billing address</h4>
              <div class='hideable_billing'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                  <label for="billing_address" class="active">Address</label>
                </div>
    
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="billing_address">Country</label>
                    <select class="custom-select d-block w-100" id="id_billing_address" name="country_billing">
                      <option value="">Choose...</option>
                      {% for value, name in form.country_billing.field.choices %}
                        <option value="{{ value }}"{% if form.fields.country.value == value %} selected{% endif %}>{{ name }}</option>
                      {% endfor %}
                    </select>
                  </div>
    
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="billing_zip">Zip</label>
                    <input type="text" class="form-control" id="zip" name="billing_zip" placeholder="Zip code">
                  </div>
                </div>
    
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="set_default_billing" name="set_default_billing">
                  <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                </div>
              </div>
              
              {% if address.default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="use_default_billing" name="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">
                  Use default billing address: <span class="grey-text">{{ address.billing_address|truncatechars:10 }}</span>
                </label>
              </div>
              {% endif %}
            </div>

            <hr>

            <h4>Payment option</h4>
            
            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input name="payment_option" id="{{ name }}" value="{{ value }}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label {% if name == 'Paypal' %}disabled{% endif %}" for="{{ name }}">
                  {{ name }} 
                  {% if name == 'Paypal' %}<span class="badge badge-pill badge-info">coming soon</span>{% endif %}
                </label>
              </div>
              {% endfor %}
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

          </form>
        </div>

      </div>

      <div class="col-md-4 mb-4">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{ nb_of_items }}</span>
        </h4>

        <ul class="list-group mb-3 z-depth-1">
          {% for order_item in order_items %}
          <li class="list-group-item d-flex justify-content-between">
            <div>
              <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.name }}</h6>
            </div>
            <span class="text-muted">${{ order_item.final_price }}</span>
          </li>
          {% endfor %}
          
          <li class="list-group-item d-flex justify-content-between">
            <span>TAX (USD)</span>
            <strong>${{order.tax_amount}}  </strong>
          </li>
          <!-- <li class="list-group-item d-flex justify-content-between">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li> -->
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ price_include_discount }} {{ order.total_price }}</strong>
          </li>
        </ul>

        <!-- <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
            </div>
          </div>
        </form> -->

      </div>

    </div>
  
</section>
{% endblock content %}

{% block script %}
<script>
  $(function() {
    var hideable_shipping = $('.hideable_shipping');
    var hideable_billing = $('.hideable_billing');
    $('#use_default_shipping').change(function() {
      if (this.checked) {
        hideable_shipping.hide()
      }
      else {
        hideable_shipping.show()
      }
    });
    $('#use_default_billing').change(function() {
      if (this.checked) {
        hideable_billing.hide()
      }
      else {
        hideable_billing.show()
      }
    });
  });
</script>
{% endblock script %}